<h1>Inscription</h1>

<%= semantic_form_for @child do |f| %>

  <%= @child.errors.full_messages %>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Enfant</h2>
        <%= f.inputs do %>
          <%= f.input :gender, as: :radio, collection: child_gender_select_collection %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :birthdate %>
        <% end %>
      </div>
      <div class="col-sm">
        <h2>Parent 1</h2>
        <%= f.semantic_fields_for :parent1 do |parent1_f| %>
          <%= render 'parent_form', f: parent1_f %>
        <% end %>
      </div>
      <div class="col-sm">
        <h2>Parent 2</h2>
        <%= f.semantic_fields_for :parent2 do |parent2_f| %>
          <%= render 'parent_form', f: parent2_f %>
        <% end %>
      </div>
    </div>
  </div>

  <%= f.actions do %>
    <%= f.action :submit, :as => :button %>
    <%= f.action :cancel, :as => :link %>
  <% end %>

<% end %>
