<div id="inscription">
  <% if @form_path.in?(ENV['BLOCKED_REGISTRATION_PATHS'].split(',')) %>
    <div id="registration-closed">
      <p>Les inscriptions sont fermées.</p>
    </div>
  <% else %>
    <div class="container" id="inscription-content">
      <div id="logos">
        <%= image_tag("mots-logo.png", id:"mots-logo") %>
        <% if @form_path == '/inscriptioncaf' %>
          <%= image_tag("caf-logo.jpg", id:"caf-logo") %>
        <% end %>
      </div>
      <%= simple_form_for @child, url: @form_path_url || children_path do |f| %>

        <div class="row" id="form-header">
          <div class="col-12 col-lg-4" id="form-header-image">
            <%= image_tag("famille.png", id:"img-family")  %>
          </div>
          <div class="col-12 col-lg-6" id="form-header-text">
            <h1><%= @title.html_safe %></h1>
            <div>
              <div>
                <div id="description"><%= @banner.html_safe %></div>
              </div>
            </div>
          </div>
        </div>

        <%= f.simple_fields_for :children_source do |children_source_form| %>
          <div class="row justify-content-sm-center accepted-fields">
            <% if @source_collection == :caf %>
              <div class="col-sm-6">
                <label class="select required" for="form_received_from"><%= @form_received_from.html_safe %></label>
                <select class="form-control select required" id="form_received_from">
                  <option value='caf'> La CAF </option>
                  <!-- Check changeChildrenSourceSelectOptions in new.js IF you uncomment BAO option-->
                  <!-- we commented out changeChildrenSourceSelectOptions(window.cafOptions) to avoid losing the selected source if form has an error -->
                  <!-- <option value='bao'> Mon entourage </option> -->
                </select>
              </div>
              <div class="col-sm-6">
                <div <%= 'hidden' unless @utm_caf.nil? %> id="child_children_source_source_id_div">
                  <%= children_source_form.input :source_id, label: @source_label.html_safe, required: true, collection: source_select_for_caf %>
                </div>
              </div>
            <% else %>
              <div class="col-sm-6">
                <%=
                  children_source_form.input :source_id,
                  label: @source_label.html_safe,
                  required: true,
                  collection: case @source_collection
                              when :pmi
                                source_select_for_pmi(@pmi_dpt)
                              when :bao
                                source_select_for_bao
                              when :local_partner
                                source_select_for_local_partner
                              else
                                []
                              end
                %>
              </div>
              <div class="col-sm-6">
                <%= children_source_form.input :details, required: false, label: @source_details_label.html_safe %>
                <% if @form_path == pmi_registration_path %>
                  <div style="margin-top: 8px; display: none;" id="children_source_detail_alert" class="invalid-feedback">
                    <p>Pour inscrire des enfants suivis à l’hôpital Robert Debré, veuillez utiliser <a href="https://app.1001mots.org/inscription5" target="_blank"><b>ce formulaire</b></a>.</p>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <% if @source_collection == :local_partner %>
            <div class="row" id="registration_department_select">
              <div class="col-sm-6">
                <%= children_source_form.input :registration_department, as: :select, label: @source_registration_department_label.html_safe, collection: local_partner_source_departements, required: false %>
              </div>
            </div>
          <% end %>
        <% end %>

        <% if f.object.errors[:base].any? %>
          <div class="row justify-content-sm-center accepted-fields">
            <div class="col-sm-8">
              <%= f.error_notification message: f.object.errors[:base].join('<br/>') %>
            </div>
          </div>
        <% end  %>

        <div class="row accepted-fields">
          <div class="col-sm-4">
            <h2>Enfant(s)</h2>
            <div class="card">
              <div class="card-body">
                <div class="child-fields">
                  <%= render 'child_form', f: f, with_support: true, form_without_comments: @form_path == caf_registration_path || @form_path == boa_registration_path, with_placeholder: @form_path == pmi_registration_path  %>
                </div>
                <% @child.siblings.each_with_index do |sibling, i| %>
                  <div class="child-fields-container <%= 'hidden' unless sibling.gender %>">
                    <div class="separator"></div>
                    <div class="add-child-btn-container">
                      <%= link_to @form_path.in?([caf_registration_path, boa_registration_path, pmi_registration_path]) ? '+ Autre enfant de moins de 30 mois' : '+ Ajouter un autre enfant', '#', class: 'btn btn-primary add-child-btn' %>
                    </div>
                    <div class="child-fields">
                      <%= link_to '- Annuler', '#', class: 'btn btn-danger float-right rm-child-btn' %>
                      <%= f.simple_fields_for "siblings[#{i}]", sibling  do |sibling_f| %>
                        <%= render 'child_form', f: sibling_f %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class="col-sm-8">
            <h2>Parents qui recevront les SMS<%= ' et les appels' if @form_path == pmi_registration_path %></h2>
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Parent 1</h3>
                    <%= f.simple_fields_for :parent1 do |parent1_f| %>
                      <%= parent1_f.input :gender, as: :radio_buttons, collection: parent_gender_select_collection, required: true %>
                      <%= parent1_f.input :first_name, required: true %>
                      <%= parent1_f.input :last_name, required: true %>
                      <%= parent1_f.input :phone_number, required: true %>
                      <% if @form_path == caf_registration_path && ENV['CAF_SUBSCRIPTION'].present? %>
                        <%= parent1_f.input :email, required: true %>
                      <% end %>
                      <% if @form_path == '/inscription4' %>
                        <%= parent1_f.input :degree_level_at_registration, as: :select, collection: parent_degree_level_collection, required: true, label: @degree_level_label %>
                        <%= parent1_f.input :degree_country_at_registration, as: :radio_buttons, collection: parent_degree_obtained_in_collection, required: true, label: @degree_obtained_in_label %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Parent 2 (optionnel)</h3>
                    <div id="parent2-fields">
                      <%= f.simple_fields_for :parent2 do |parent2_f| %>
                        <%= parent2_f.input :gender, as: :radio_buttons, collection: parent_gender_select_collection, required: false %>
                        <%= parent2_f.input :first_name, required: false, input_html: { autocomplete: "off" } %>
                        <%= parent2_f.input :last_name, required: false, input_html: { autocomplete: "off" } %>
                        <%= parent2_f.input :phone_number, required: false, input_html: { autocomplete: "off" } %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Adresse pour recevoir les livres</h3>
                <%= f.simple_fields_for :parent1 do |parent1_f| %>
                  <%= address_input(parent1_f) %>
                  <%= parent1_f.input :letterbox_name %>
                <% end %>
              </div>
            </div>
            <div class="card">
              <div class="card-body"
                <%= f.simple_fields_for :parent1 do |parent1_f| %>
                  <%= parent1_f.input :terms_accepted_at, as: :boolean, label: @terms_accepted_at_label.html_safe, checked_value: Time.zone.now %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-sm-center end-buttons" style="margin-top: 10px">
          <div class="col-sm-4 offset-sm-8">
            <div class="text-right accepted-fields">
              <%= f.button :submit, @form_path == caf_registration_path && ENV['CAF_SUBSCRIPTION'].present? ? 'Enregistrer et continuer' : 'Valider', class: 'btn-primary btn-lg' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
