<div id="inscription">

  <div class="container" id="inscription-content">

    <%= simple_form_for @child do |f| %>

      <%= f.button :submit, 'Valider', class: 'btn-primary float-right' %>
      <%= f.button :button, 'Annuler', type: 'reset', class: 'btn-outline-secondary float-left' %>
      <h1>Inscription</h1>

      <div class="row justify-content-sm-center">
        <div class="col-sm-6">
          <%= f.input :registered_by %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <h2>Enfant</h2>
          <%= f.input :gender, as: :radio_buttons, collection: child_gender_select_collection, wrapper: :vertical_collection_inline %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :birthdate, start_year: Date.today.year - 10, end_year: Date.today.year %>
        </div>
        <div class="col-sm">
          <h2>Parent 1</h2>
          <%= f.simple_fields_for :parent1 do |parent1_f| %>
            <%= render 'parent_form', f: parent1_f %>
          <% end %>
        </div>
        <div class="col-sm">
          <div class="float-right" style="margin-top: 30px;">
            <%= f.input :parent2_absent, as: :boolean, label: 'Absent' %>
          </div>
          <h2>
            Parent 2
          </h2>
          <div id="parent2-fields">
            <%= f.simple_fields_for :parent2 do |parent2_f| %>
              <%= render 'parent_form', f: parent2_f %>
            <% end %>
          </div>
        </div>
      </div>


    <% end %>

  </div>

</div>
