<div id="inscription">

  <div class="container" id="inscription-content">

    <%= simple_form_for @child do |f| %>

      <%= f.button :submit, 'Valider', class: 'btn-primary float-right' %>
      <%= f.button :button, 'Annuler', type: 'reset', class: 'btn-outline-secondary float-left' %>
      <h1>
        Recevez des livres et des idées pour éveiller votre enfant
      </h1>

      <div class="row justify-content-sm-center">
        <div class="col-sm-9">
          <p class="text-center" id="description">
            <b>Votre enfant a entre 0 et 24 mois ?</b><br/>
            Inscrivez-vous pour recevoir gratuitement 3 SMS par semaine avec des idées de jeux et conseils pour éveiller le langage de votre enfant, et des livres adaptés à son âge. Ça dure 6 mois et vous pourrez arrêter à n'importe quel moment.
          </p>
        </div>
      </div>

      <div class="row justify-content-sm-center">
        <div class="col-sm-4">
          <%= f.input :registration_source, collection: child_registration_source_select_collection %>
        </div>
        <div class="col-sm-4">
          <div id="child-registration-source-details-field">
            <%= f.input :registration_source_details %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <h2>Enfant</h2>
          <%= f.input :gender, as: :radio_buttons, collection: child_gender_select_collection, wrapper: :vertical_collection_inline %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :birthdate, start_year: Date.today.year - 10, end_year: Date.today.year %>
        </div>
        <div class="col-sm">
          <h2>Parent 1</h2>
          <%= f.simple_fields_for :parent1 do |parent1_f| %>
            <%= render 'parent_form', f: parent1_f %>
          <% end %>
        </div>
        <div class="col-sm">
          <div class="float-right" style="margin-top: 30px;">
            <%= f.input :parent2_absent, as: :boolean, label: 'Absent' %>
          </div>
          <h2>
            Parent 2
          </h2>
          <div id="parent2-fields">
            <%= f.simple_fields_for :parent2 do |parent2_f| %>
              <%= render 'parent_form', f: parent2_f %>
            <% end %>
          </div>
        </div>
      </div>


    <% end %>

  </div>

</div>
