<div class="events-history">

  <% events.each do |event| %>

    <div class="event <%= event.css_class_name %>">
      <div class="related">
        <%= event.related_link %>
      </div>
      <div class="body"><%= event.body %></div>
      <div class="occurred-at">
        <%= event.occurred_at %>
      </div>
      <%= link_to 'Détails', [:admin, event], class: 'admin-link' %>
    </div>

  <% end %>

</div>
