<li class="aafc-comment">
  <div class="aafc-related-field-content">
    <span class="fa-li"><i class="far fa-comment"></i></span>
    <% if (!defined?(show_related) || show_related) && field_comment.related %>
      <span class="aafc-related">
        <%= field_comment.related_link %>
      </span>
    <% end %>
    <%= link_to [:admin, field_comment], class: 'aafc-field-content' do %>
      <% if defined?(show_field) && show_field %><%= field_comment.field %>&nbsp;: <% end %><%= field_comment.content %>
    <% end %>
  </div>
  <div class="aafc-date-author">
    <% if (!defined?(show_author) || show_author) && field_comment.author %>
      <span class="aafc-author">
        par <%= auto_link field_comment.author %>
      </span>
    <% end %>
    <span class="aafc-date">
      le <%= field_comment.created_at_date %>
    </span>
  </div>
</li>
