<div id="update">

  <div class="container" id="update-content">

    <%= simple_form_for @children_support_module, url: @action_path do |f| %>

    <h1> Choix de module </h1>
    <div class="text-center">
      <% @available_module_list.each do |available_module| %>
        <input type="radio" id=<%= available_module %> name="children_support_module[support_module_id]" value=<%= available_module %>>
        <label for=<%= available_module %>><%= available_module %></label><br>
      <% end %>
      <button type="submit" class="btn-primary btn-sm">
        Choisir
      </button>
    </div>

    <% end %>



  </div>

</div>
