<div id="update">

  <div class="container" id="update-content">

    <%= simple_form_for @children_support_module, url: @action_path do |f| %>

    <h1> Choix de module </h1>
    <div class="text-center">
      <% @support_modules.each do |support_module| %>
        <input type="radio" id=<%= support_module.name %> name="children_support_module[support_module_id]" value=<%= support_module.id %>>
        <label for=<%= support_module.name %>><%= support_module.name %></label><br>
      <% end %>
      <button type="submit" class="btn-primary btn-sm">
        Choisir
      </button>
    </div>

    <% end %>

  </div>

</div>
