<div id="update">

  <div class="container" id="update-content">

    <%= simple_form_for @children_support_module, url: @action_path do |f| %>

    <h1>Sur quel thème voulez-vous recevoir des conseils (et un livre) ?</h1>
      <div style="display: flex; flex-flow: row wrap; justify-content: center; align-items: stretch; align-content: stretch; gap: 10px ">
        <% @support_modules.decorate.each do |support_module| %>
          <div class="card" style="width: 15rem;">
            <%= support_module.picture_tag(class: "card-img-top") %>
            <div class="card-body">
              <input type="radio" id=<%= support_module.name %> name="children_support_module[support_module_id]" value=<%= support_module.id %>>
              <label for=<%= support_module.name %>><%= support_module.name %></label><br>
            </div>
          </div>
        <% end %>
        <div class="card" style="width: 15rem;">
          <%= image_tag("child-picture.jpg", class:"card-img-top")%>
          <div class="card-body">
            <input type="radio" id="1001mots_choice" name="children_support_module[support_module_id]" value="">
            <label for="1001mots_choice">Je laisse 1001mots choisir pour moi</label><br>
          </div>
        </div>
      </div>

      <div style="display: flex; justify-content: center; margin-top: 2rem" >
        <button type="submit" class="btn-primary btn-sm">
          Choisir
        </button>
      </div>
    </div>

    <% end %>

  </div>

</div>
