<div class="data-row">
  <div class="data-col">
    <p>Objectif</p>
    <p><%= data_count_values["goal"] %></p>
  </div>
</div>
<div class="data-row">
  <div class="data-col">
    <p>Familles (hors popi)</p>
    <p><%= data_count_values["no_popi_families_count"] %></p>
  </div>
  <div class="data-col">
    <p>Enfants (hors popi)</p>
    <p><%= data_count_values["no_popi_children_count"] %></p>
  </div>
  <div class="data-col">
    <p>Pères (hors popi)</p>
    <p><%= data_count_values["no_popi_fathers_count"] %></p>
  </div>
</div>
<div class="data-row">
  <div class="data-col">
    <p>Familles</p>
    <p><%= data_count_values["families_count"] %></p>
  </div>
  <div class="data-col">
    <p>Enfants</p>
    <p><%= data_count_values["children_count"] %></p>
  </div>
  <div class="data-col">
    <p>Pères</p>
    <p><%= data_count_values["fathers_count"] %></p>
  </div>
</div>
