<div class="data-row">
  <div class="data-col">
    <p class="title">Objectif d'enfants inscrites ou accompagnées</p>
    <hr>
    <p class="data-number"><%= data_count_values["goal"] %></p>
  </div>
</div>
<div class="data-row">
  <div class="data-col">
    <p class="title">Enfants inscrits ou accompagnés (hors popi)</p>
    <hr>
    <p class="data-number"><%= data_count_values["no_popi_children_registered_or_followed_count"] %></p>
  </div>
  <div class="data-col">
    <p class="title">Familles inscrites ou accompagnées (hors popi)</p>
    <hr>
    <p class="data-number"><%= data_count_values["no_popi_families_registered_or_followed_count"] %></p>
  </div>
  <div class="data-col">
    <p class="title">Pères inscrits (hors popi)</p>
    <hr>
    <p class="data-number"><%= data_count_values["no_popi_fathers_registered_or_followed_count"] %></p>
  </div>
</div>
<div class="data-row">
  <div class="data-col">
    <p class="title">Enfants inscrits (hors popi)</p>
    <hr>
    <p class="data-number"><%= data_count_values["no_popi_children_registered"] %></p>
  </div>
  <div class="data-col">
    <p class="title">Familles inscrites (hors popi)</p>
    <hr>
    <p class="data-number"><%= data_count_values["no_popi_families_registered"] %></p>
  </div>
</div>
<div class="data-row">
  <div class="data-col">
    <p class="title">Enfants inscrits</p>
    <hr>
    <p class="data-number"><%= data_count_values["children_registered"] %></p>
  </div>
  <div class="data-col">
    <p class="title">Familles inscrites</p>
    <hr>
    <p class="data-number"><%= data_count_values["families_registered"] %></p>
  </div>
  <div class="data-col">
    <p class="title">Taux de hors cible (popi)</p>
    <hr>
    <p class="data-number"><%= data_count_values["no_popi_rate"] %>%</p>
  </div>
</div>
