<div class="data-row">
  <div class="data-col">
    <p class="title">Moyenne des nombres d'URLs cibles</p>
    <hr>
    <p class="data-number"><%= data_count_values["redirection_url_count"] %></p>
  </div>
  <div class="data-col">
    <p class="title">Moyenne des nombres de visites familiales uniques</p>
    <hr>
    <p class="data-number"><%= data_count_values["redirection_url_visited_count"] %></p>
  </div>
  <div class="data-col">
    <p class="title">Taux de visites familiales uniques</p>
    <hr>
    <% if data_count_values["redirection_url_count"] != 0 %>
      <p class="data-number"><%= data_count_values["redirection_url_visited_rate"] %> %</p>
  <% end %>
  </div>
</div>
<div class="data-row">
  <div class="data-col">
    <p class="title">Moyenne des nombres de messages reçus</p>
    <hr>
    <p class="data-number"><%= data_count_values["messages_received_count"] %></p>
  </div>
  <div class="data-col">
    <p class="title">Moyenne des nombres de messages envoyés</p>
    <hr>
    <p class="data-number"><%= data_count_values["messages_sent_count"] %></p>
  </div>
</div>
