<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>1001mots</title>
    <link rel="icon" type="image/x-icon" href="<%= asset_path 'favicon.ico' %>">
    <%= tag.link rel: "stylesheet", href: "https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.1.0/dist/cookieconsent.css" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'layouts/flash', flash: flash %>

    <%= yield %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.1.0/dist/cookieconsent.umd.js" %>

  </body>

  <footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= google_places_api_tag %>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  </footer>
</html>
